{% macro status(container) %}
    {%  if container.runtimeInformations.State.Running %}
        <span class="label label-success">Running</span>
    {% else %}
        <span class="label label-default">Stopped</span>
    {% endif %}
{% endmacro %}

{% macro statusButton(container) %}
    {%  if container.runtimeInformations.State.Running %}
        <button rel="{{ container.id }}" type="button" class="btn btn-default glyphicon glyphicon-stop" title="Stop container"></button>
    {% else %}
        <button rel="{{ container.id }}" type="button" class="btn btn-default glyphicon glyphicon-play" title="Start container"></button>
    {% endif %}
{% endmacro %}

{% macro containerName(name, config) %}
    {% if config.icons.enabled %}
        {% for regex,icon in config.icons.container_regex %}
            {% if name matches regex %}
                <i class="glyphicon glyphicon-{{ icon }}"></i>
            {% endif %}
        {% endfor %}
    {% endif %}
    {{ name|trim('/') }}
{% endmacro %}